<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Add Plan</title>
</head>
<body>

	<h2>Add Plan</h2>


	<label for="planId">Plan Id:</label>
	<input type="text" id="planId" required>

	<label for="planName">Plan Name:</label>
	<input type="text" id="planName" required>

	<label for="planDate">Plan Date:</label>
	<input type="date" id="planDate" required>

	<button id="addNewPlan">Add Plan</button>

	<div id="newPlanAdded"></div>
	@section Scripts
 {
		<script>

			const addPlanBtn = document.getElementById("addNewPlan");
			addPlanBtn.addEventListener("click", addPlan);

			async function addPlan() {

				const baseUrl = "https://localhost:7241";

				// Get values from the input fields
				var id = document.getElementById("planId").value;
				var name = document.getElementById("planName").value;
				var date = document.getElementById("planDate").value;

				// Create a Plan object
				var plan = {
					Id: id,
					Name: name,
					Date: date
				};

				const options = {
					method: 'POST',
					headers: {
						'Content-Type': 'application/json'
					},
					body: JSON.stringify(plan)
				};
				
				await fetch(`${baseUrl}/api/Plans`, options)
					.then(res => {
						if (res.ok) {
							const html = `<div class="newPlan">
									<p>Plan with id: ${plan.Id} added successfully.</p>
								</div>`;
							document.getElementById('newPlanAdded').innerHTML = html;
						} else {
							console.log('error');
						}
					})
					.catch(err => console.log(err));

				document.getElementById("planId").value = '';
				document.getElementById("planName").value = '';
				document.getElementById("planDate").value = '';
			}



		</script>
	}


</body>
</html>