@* @model List<Planning.Models.Plan> *@

@{
	ViewData["Title"] = "Index";
}

<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Planning</title>
</head>

<body>
	<div>
		<a href="/Planning/AddPlan">Add Plan Page</a>
	</div>

	<br />
	<div id="allPlansDiv">
		<button id="getPlans">Get all plans</button>
		<div id="plans"></div>
	</div>

	<div id="singlePlansDiv">
		<button id="getSinglePlans">Get Plan</button>
		<input type="text" id="planId">
	</div>
	<h1>List of Plans</h1>
	<div id="plansData"></div>

	<h1>Plan:</h1>

	<div id="singlePlan"></div>

	@section Scripts {
		@* <script src="~/lib/microsoft/signalr/dist/browser/signalr.js"></script> *@

		<script>
			//			var connection = new signalR.HubConnectionBuilder()
			//				.withUrl("https://localhost:7003/PlanningHub")
			//				.build();
			//
			//			connection.start().catch(function (err) {
			//				return console.error(err.toString());
			//			});
			//			console.log("connection -> ", connection);
			//
			//			connection.on("PlansReceived",
			//				data => {
			//					const container = document.getElementById('plans');
			//					data.forEach(plan => {
			//
			//						// Create elements
			//						const element = document.createElement('div');
			//						const header = document.createElement('h3');
			//						const date = document.createElement('p');
			//
			//						// Add API data
			//						header.innerText = plan.name + " Id: " + plan.id;
			//						date.innerText = plan.date;
			//
			//						// Add to container
			//						element.appendChild(header);
			//						element.appendChild(date);
			//						container.appendChild(element);
			//
			//					});
			//				});
			//
			//			connection.on("PlanByIdReceived",
			//				plan => {
			//
			//					console.log("Plan received: ", plan);
			//
			//					const container = document.getElementById('singlePlansDiv');
			//
			//					const element = document.createElement('div');
			//					const header = document.createElement('h3');
			//					const date = document.createElement('p');
			//
			//					// Add API data
			//					header.innerText = plan.plan.name + " Id: " + plan.plan.id;
			//					date.innerText = plan.plan.date;
			//
			//					// Add to container
			//					element.appendChild(header);
			//					element.appendChild(date);
			//					container.appendChild(element);
			//				});
			const baseUrl = "https://localhost:7241";

			const getPlansBtn = document.getElementById("getPlans");
			const getSinglePlansBtn = document.getElementById("getSinglePlans");
			const idInput = document.getElementById("planId");

			getPlansBtn.addEventListener("click", getPlans);
			getSinglePlansBtn.addEventListener("click", getSinglePlan);


			async function getPlans() {

				const url = `${baseUrl}/api/Plans`;
				const response = await fetch(`${baseUrl}/api/Plans`);

				// Check valid response
				if (response.ok) {

					// Deserialize response
					const plans = await response.json();

					// Log persons list
					plans.forEach(plan => {
						console.log(plan.id, plan.name, plan.date);

					});
					const html = plans.map(plan => {
						return `
						<div class="plan">
							<p>${plan.id} - ${plan.name} - ${plan.date.split('T')[0]}</p>
						</div>`;
					});

					// Display persons
					document.getElementById('plansData').innerHTML = html.join('');
				} else {

					console.log('Error retrieving persons');

				}

			}

			async function getSinglePlan() {
				var id = idInput.value;
				var encodedId = encodeURIComponent(id);
				if (id === "") {
					alert("Id value cannot be empty");
				}
				else {
					const url = `${baseUrl}/api/Plans/${encodedId}`;
					const response = await fetch(url);

					if (response.ok) {

						// Deserialize response
						const plan = await response.json();
						const html = `<div class="single-plan">
																	<p>${plan.id} - ${plan.name} - ${plan.date.split('T')[0]}</p>
															</div>`;


						document.getElementById('singlePlan').innerHTML = html;
					} else {
						const html = `<div class="single-plan">
																				<p>Error: resoponse status: ${response.status}</p>
																		</div>`;
						console.log(response);
						document.getElementById('singlePlan').innerHTML = html;
					}

				}
			}
		</script>
	}

</body>
</html>